<div class="card bg-light room">
  <div class="room-img">
    <div class="card-img-overlay text-white">
      <div class="row align-items-center">
        <div class="col-3 text-center">
          <div class="rounded-circle badge badge-primary d-flex align-items-center justify-content-center" style="min-width: 75px; min-height: 75px;">
            <i class="fa fa-bed fa-4x"></i>
          </div>
        </div>
        <div class="col">
          <h3>
            <b>
              Bedroom
            </b>
          </h3>
        </div>
      </div>
      <div class="row" style="padding: 20px 0px;">
        <div class="col-2 rounded-circle badge badge-light d-flex align-items-center justify-content-center" style="min-width: 50px; min-height: 50px; margin: 5px;">
          <i class="fa fa-lightbulb-o fa-3x"></i>
        </div>
        <div class="col-2 rounded-circle badge badge-success d-flex align-items-center justify-content-center" style="width: 50px; height: 50px; margin: 5px;">
          <i class="fa fa-lightbulb-o fa-3x"></i>
        </div>
        <div class="col-2 rounded-circle badge badge-light d-flex align-items-center justify-content-center" style="width: 50px; height: 50px; margin: 5px;">
          <i class="fa fa-volume-up fa-3x" aria-hidden="true"></i>
        </div>
        <div class="col-2 rounded-circle badge badge-light d-flex align-items-center justify-content-center" style="min-width: 50px; min-height: 50px; margin: 5px;">
          <i class="fa fa-gamepad fa-3x" aria-hidden="true"></i>
        </div>
        <div class="col-2 rounded-circle badge badge-success d-flex align-items-center justify-content-center" style="min-width: 50px; min-height: 50px; margin: 5px;">
          <i class="fa fa-television fa-3x" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col text-center">
        <h5 class="card-title">Temperature</h5>
        <h3 class="card-text">25°C</h3>
      </div>
      <div class="col text-center">
          <h5 class="card-title">Humidity</h5>
          <h3 class="card-text">08%</h3>
        </div>
    </div>
  </div>
</div>