<div class="row">
  <div class="navbar-expand-lg navbar-light col-lg-3">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-dark"></span>
    </button>

    <div id="navbar" class="nav col-3 menu scrollbar collapse navbar-collapse" style="flex-direction: column;">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

        <a style="text-decoration: none !important;" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home">
          <app-room></app-room>
        </a>
        <a style="text-decoration: none !important;" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile">
          <app-room></app-room>
        </a>
        <a style="text-decoration: none !important;" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages">
          <app-room></app-room>
        </a>
        <a style="text-decoration: none !important;" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings">
          <app-room></app-room>
        </a>

      </div>
    </div>
  </div>

  <div class="col-lg-9 col-12">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel">
        <app-device-picker></app-device-picker>
      </div>
      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel">
        <app-device-picker></app-device-picker>
      </div>
      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel">
        <app-device-picker></app-device-picker>
      </div>
      <div class="tab-pane fade" id="v-pills-settings" role="tabpanel">
        <app-device-picker></app-device-picker>
      </div>
    </div>
  </div>
</div>