<div class="row">
  <div class="container-fluid">
    <div class="row flex-nowrap">
      <div class="col-2 border text-center m-2 p-2">
        <div class="rounded-circle badge badge-light justify-content-center align-items-center" style="min-width: 50px; margin: 5px;">
          <i class="fa fa-lightbulb-o fa-3x"></i>
        </div>
        <h5 class="card-title">Main light</h5>
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="customSwitch1">
          <label class="custom-control-label" for="customSwitch1"></label>
        </div>
      </div>
      <div class="col-2 border text-center m-2 p-2">
        <div class="rounded-circle badge badge-light justify-content-center align-items-center" style="min-width: 50px; margin: 5px;">
          <i class="fa fa-lightbulb-o fa-3x"></i>
        </div>
        <h5 class="card-title">Bedside lamp</h5>
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="customSwitch2">
          <label class="custom-control-label" for="customSwitch2"></label>
        </div>
      </div>
      <div class="col-2 border text-center m-2 p-2">
        <div class="rounded-circle badge badge-light justify-content-center align-items-center" style="min-width: 50px; margin: 5px;">
          <i class="fa fa-volume-up fa-3x"></i>
        </div>
        <h5 class="card-title">Speakers</h5>
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="customSwitch3">
          <label class="custom-control-label" for="customSwitch3"></label>
        </div>
      </div>
      <div class="col-2 border text-center m-2 p-2">
        <div class="rounded-circle badge badge-light justify-content-center align-items-center" style="min-width: 50px; margin: 5px;">
          <i class="fa fa-gamepad fa-3x"></i>
        </div>
        <h5 class="card-title">Playstation 4</h5>
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="customSwitch4">
          <label class="custom-control-label" for="customSwitch4"></label>
        </div>
      </div>
      <div class="col-2 border text-center m-2 p-2">
        <div class="rounded-circle badge badge-light justify-content-center align-items-center" style="min-width: 50px; margin: 5px;">
          <i class="fa fa-television fa-3x"></i>
        </div>
        <h5 class="card-title">TV</h5>
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="customSwitch5">
          <label class="custom-control-label" for="customSwitch5"></label>
        </div>
      </div>
    </div>
  </div>
</div>