.menu {
    overflow-y: scroll;
    height: 87vh;
    min-width: 370px;
}
    
.scrollbar::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5; 
}
    
.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #4285F4; 
}

.room {
    margin: 10px;
}

.bedroom-img {
    background-image: linear-gradient(to right, rgba(117, 19, 93, 0.73), rgba(161, 175, 255, 0.767)), url('src/assets/images/bedroom.jpg');   
    height: 200px;
    min-width: 330px;
    background-size: cover;
}

.office-img {
    background-image: linear-gradient(to right, rgba(104, 127, 255, 0.767), rgba(192, 250, 204, 0.73)), url('src/assets/images/office.jpg');   
    height: 200px;
    min-width: 330px;
    background-size: cover;
}

.guest-room-img {
    background-image: linear-gradient(to right, rgba(174, 185, 17, 0.73), rgba(25, 82, 18, 0.767)), url('src/assets/images/guest-room.jpg');   
    height: 200px;
    min-width: 330px;
    background-size: cover;
}

.living-room-img {
    background-image: linear-gradient(to right, rgba(255, 182, 65, 0.73), rgba(107, 33, 97, 0.767)), url('src/assets/images/living-room.jpg');   
    height: 200px;
    min-width: 330px;
    background-size: cover;
}

.kitchen-img {
    background-image: linear-gradient(to right, rgba(255, 58, 51, 0.73), rgba(57, 92, 64, 0.767)), url('src/assets/images/kitchen.jpg');   
    height: 200px;
    min-width: 330px;
    background-size: cover;
}

.bathroom-img {
    background-image: linear-gradient(to right, rgba(10, 195, 252, 0.73), rgba(13, 28, 117, 0.767)), url('src/assets/images/bathroom.jpg');   
    height: 200px;
    min-width: 330px;
    background-size: cover;
}