.smart-home-card {
    background-image: linear-gradient(to right, rgba(255, 182, 65, 0.73), rgba(107, 33, 97, 0.767)), url('src/assets/images/living-room.jpg');   
    height: 200px;
    margin: 10px;
    min-width: 330px;
    background-size: cover;
}